/*COLOR DEFAULT*/
$bg-white: #ffffff;

$primary: #1143d2;

$primary-25: #f4f7ff;
$primary-50: #e7edfd;
$primary-100: #d0dbfb;
$primary-200: #a1b8f7;
$primary-300: #7194f4;
$primary-400: #4271f0;
$primary-500: #1143d2;
$primary-600: #0f3ebd;
$primary-700: #0b2e8e;
$primary-800: #081f5e;
$primary-900: #040f2f;

$neutral-25: #fafafa;
$neutral-50: #f2f2f2;
$neutral-100: #e6e6e6;
$neutral-200: #cccccc;
$neutral-300: #b3b3b3;
$neutral-400: #999999;
$neutral-500: #050505;
$neutral-600: #666666;
$neutral-700: #4d4d4d;
$neutral-800: #333333;
$neutral-900: #1a1a1a;
$neutral-1000: #f3f3f5;

$red-25: #f9d1d1;
$red-50: #e94848;
$red-100: #b61515;

$background-negative: #ffebee;
$semantic-negative: #e31a1a;

$background-positive: #e8f5e9;
$semantic-positive: #09cb4a;

$background-notice: #fff3e0;
$semantic-notice: #faad14;

$background-informative: #e3f2fd;
$semantic-informative: #2196f3;

$shadow-25: #00000012;
$overlay-25: #05050566;

/*COLOR DARK*/
$bg-dark: #1e1e1e;

$primary-dark: #2d68ff;

$primary-dark-25: #020818;
$primary-dark-50: #081f5e;
$primary-dark-100: #081f5e;
$primary-dark-200: #0b2e8e;
$primary-dark-300: #7194f4;
$primary-dark-400: #4271f0;
$primary-dark-500: #134cea;
$primary-dark-600: #7194f4;
$primary-dark-700: #a1b8f7;
$primary-dark-800: #d0dbfb;
$primary-dark-900: #d0dbfb;

$neutral-dark-25: #0d0d0d;
$neutral-dark-50: #333333;
$neutral-dark-100: #666666;
$neutral-dark-200: #4d4d4d;
$neutral-dark-300: #b3b3b3;
$neutral-dark-400: #999999;
$neutral-dark-500: #ffffff;
$neutral-dark-600: #b3b3b3;
$neutral-dark-700: #cccccc;
$neutral-dark-800: #e6e6e6;
$neutral-dark-900: #e5e5e5;
$neutral-dark-1000: #414451;

$background-dark-negative: #322020;
$semantic-dark-negative: #e72f2f;

$background-dark-positive: #122914;
$semantic-dark-positive: #0ae353;

$background-dark-notice: #382300;
$semantic-dark-notice: #fbb62d;

$background-dark-informative: #212b33;
$semantic-dark-informative: #39a0f4;

$shadow-dark-25: #ffffff12;

$overlay-dark-25: #ffffff66;
/*COLOR EX*/

$text-white: #ffffff;

$text-danger: #e31a1a;
$text-disabled: #00000040;
$text-waning: #faad14;
$text-des: #00000073;
